.apropos {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .hero img {
        border-radius: 25px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.37);
    }
}

.apropos__collapses {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 30px;
}