.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.homepage__banner {
    width: 100%;
    border-radius: 25px;

    img {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.37);
        border-radius: 25px;
    }

}