.apropos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 18% 2% 18%;
}

.apropos__collapses {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}