.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 9% 0 9%;
    font-family: Montserrat;

    .logo {
        margin-top: 1%;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
        margin-right: 5%;

        li {
            list-style-type: none;
            font-size: 24px;
            font-weight: 500;
            cursor: pointer;

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    text-decoration: underline;
                }
            }
        }
    }
}