@use "./components/header/header.scss";
@use "./components/hero/hero.scss";
@use "./components/footer/footer.scss";
@use "./components/cards/card.scss";
@use "./components/details/details.scss";
@use "./components/collapse/collapse.scss";
@use "./pages/apropos.scss";
@use "./pages/error/error.scss";

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}